$Button: Button;
$Button__text: Button__text;
$Button--primary: Button--primary;
$isActive: is-active;
$animationSpeed: 0.2;
$backgroundColor: green;
$nested: (
  color: red,
  re-nested: (
   last-value: orange
  )
 );
$array: (
  0: blue,
  1: (
   background-color: red,
   font-size: 1rem
  )
 );
