$Button: Button;
$Button__text: Button__text;
$Button--primary: Button--primary;
$isActive: is-active;
$animationSpeed: 0.2;
$nested: (
  color: 3,
  re-nested: (
   last-value: miau
  )
 );
$array: (
  0: blue,
  1: (
   background-color: red,
   font-size: 1rem
  )
 );
